#findMeContainer {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../Images/Home\ Page/VieniATrovarmiBackground.png);
    background-position: center;
    background-size: cover;
    
}
.textContainer {   
    text-align: center;
    margin-bottom: 100px;
}

.textContainer h1 {
    font-family: "Lora";
    font-size: 48px;
    margin: 30px 0;
    color: #f5f5f5;
}

.textContainer h2 {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    color: #f5f5f5;

}

.iconContainer hr {
    width: 100px;
    height: 1px;
    background-color: #f5f5f5;
}

.iconContainer {
    height: 50px;
    display: grid;
    gap: 100px;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

.socialIcon:hover {
    width: 45px;
    height: 45px;
    transition: 300ms;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    #findMeContainer{
        width: 100%;
        height: 500px;
    }

    .iconContainer{
        gap: 75px;
    }

   .iconContainer hr {
       width: 50px;
       height: 1px;
       background-color: #f5f5f5;
   }
}

@media screen and (max-width:605px) {
    #findMeContainer {
        height: 300px;
    }

    .textContainer {
        margin-bottom: 50px;
    }

    .textContainer h1 {
        font-size: 40px;
        margin: 15px 0;
    }

    .textContainer h2 {
        font-size: 20px;
    }

    .iconContainer {
        gap: 50px;
    }

    .iconContainer hr {
         width: 25px;
    }

    .socialIcon {
        width: auto;
        height: 30px;
    }
}

@media screen and (max-width: 425px) {
    
    #findMeContainer {
        height: 225px;
    }

    .textContainer {
        margin-bottom: 25px;
    }

    .textContainer h1 {
        font-size: 36px;
    }

    .textContainer h2 {
        font-size: 18px;
    }

    .socialIcon {
        width: auto;
        height: 25px;
    }

    .iconContainer hr {
        width: 25px;
    }
}

@media screen and (max-width: 400px) {

    .textContainer h2 {
        font-size: 16px;
    }

    .textContainer h1 {
        font-size: 30px;
    }

    .iconContainer hr {
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }

    .socialIcon {
        height: 20px;
    }
}