#NavBar {
   width: 100%;
    height: auto;
   position: fixed;
    display: flex;
    align-items: center;
   padding: 15px 0;
   justify-content: space-between;
   transition: 0.1s; 
}

.navLinks {
    display: none;
    margin-right: 35px;
}

.navLinks li {
    font-family: "roboto";
    color: #006400;
}

.navLinks ul {
   display: grid;
   grid-auto-flow: column ;
   grid-gap: 35px;
   list-style: none;
}

.logoSambuco {
    position: relative;
    width: 50px;
    height: auto;
    margin-left: 200px;
}

.burgerMenu {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 200px;
    cursor: pointer;
}

.burgerMenu path {
    fill: #7FB17F;
}

.burgerMenu:hover path {
    fill: #006400;
    transition: 300ms;
}

#NavBar.scrolled {
    width: 50%;
    height: auto;
    margin-top: 25px;
    border-radius: 500px;
    border: 1px solid #654321;
    background-color: #F5F5F5;
    z-index: 1;
    margin-left: 25%;
    margin-right: 25%;
}

#NavBar.scrolled .logoSambuco {
    margin-left: 100px;
    width: 35px;
    height: auto;
}

#NavBar.scrolled .burgerMenu {
    width: 25px;
    height: auto;
    margin-right: 100px; 
}

#NavBar.scrolled .iconX {
    width: 15px;
    height: 15px;
}

.navLinks li {
    font-family: "roboto";
    color: #006400;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.linkComponent {
    text-decoration: none;
    font-family: "roboto";
    color: #006400;
}

.navLinks li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #006400;
    transition: width 0.5s;
    border-radius: 500px;
    text-decoration: none;
}

.navLinks li:hover::before {
    width: 100%;
}

.navLinks.open {
    display: block;
    /* Mostra il contenuto di navLinks quando la classe 'open' è presente */
    animation: slideIn 0.5s ease;
    /* Applica l'animazione 'slideIn' con una durata di 0.5s */
    margin-right: 0;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.iconX {
    width: 20px;
    height: 20px;
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-10px);
    }
}

.navLinks.slideOut {
    animation: slideOut 0.5s ease;
}

@media (max-width: 1024px){

    .burgerMenu{
        margin-right: 150px;
    }

    .logoSambuco {
        margin-left: 150px;
    }

    #NavBar.scrolled{
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 430px) {
    #NavBar{
        width: 100%;
    }

        #NavBar.scrolled {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }

    .burgerMenu {
        width: 35px;
        margin-right: 35px;
    }

    .logoSambuco {
        width: 35px;
        margin-left: 35px;
    }

    #NavBar.scrolled .logoSambuco {
        width: 25px;
        margin-left: 25px;
    }

    #NavBar.scrolled .burgerMenu {
        width: 25px;
        margin-right: 25px;
    }

    #NavBar.scrolled .iconX {
        width: 15px;
        height: 15px;
    }

    .navLinks ul {
        grid-gap: 10px;
    }

    .navLinks li {
        font-size: 12px;
    }
}
