#shopContainer {
    width: 100%;
    height: 670px;
    background-position: center;
    background-size: cover;
    background-image: url("../../../Images/Home\ Page/ShopLinksBackground.png");
    background-color: #F5F5F5;
    box-sizing: border-box;
}

.shopHeader {
    width: 403px;
    height: 177px;
    position: relative;
    top: 166px;
    left: 237px;
    text-align: center;
}

.shopHeader h1 {
    margin: 30px 0;
    font-family: "Lora";
    font-size: 48px;
    color: #006400;
}

.shopHeader h2 {
    font-family: "Roboto";
    font-size: 24px;
    color: #654321;
}

.bottoniSuperiori {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.bottoniInferiori {
    display: flex;
    width: 356px;
    justify-content: space-between;
    gap: 20px;
}

.bottoni {
    width: 733px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 78px;
    top: 230px;
}

@media screen and (max-width: 2560px) {
    #shopContainer {
        height: 875px;
    }

    .shopHeader {
        top: 30%;
        left: 20%;
    }

    .bottoni {
        margin-left: 14%;
        top: 35%;
    }
}

@media screen and (max-width: 1920px) {
    #shopContainer {
        height: 670px;
    }

    .shopHeader {
        top: 20%;
        left: 15%;
    }

    .bottoni {
        margin-left: 7%;
        top: 25% ;
    }
}

@media screen and (max-width: 1550px) {
    /* Stili specifici per schermi di larghezza massima di 1550px */

    #shopContainer {
        background-image: url("../../../Images/Home\ Page/ShopLinks1550.png");
        background-position: center;
        background-size: cover;
    }

    .shopHeader {
        top: 25%;
        left: 13%;
    }

    .bottoni {
        top: 30%;
        margin-left: 2%;
    }
}

@media screen and (max-width: 1024px) {
    #shopContainer{
        width: 100%;
        height: 450px;
        background-image: none;
    }

    .shopHeader {
        width: 302px;
        height: 118px;
        top: 10%;
        left: 35%;
    }

        .shopHeader h1 {
            font-size: 36px;
            margin: 15px 0;
        }
    
        .shopHeader h2 {
            font-size: 18px;
        }

    .bottoni {
        width: 356.73px;
        height: 205px;
        top: 15%;
        margin-left: 32%;
    }

    .bottoniSuperiori {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }
}
 
@media screen and (max-width: 768px) {
    .shopHeader {
        left: 29%;
    }

    .bottoni {
        margin-left: 26%;
    }
}

@media screen and (max-width: 430px) {
    #shopContainer {
        background-image: none;
    }

    .shopHeader{
        left: 15%;
    }

    .bottoni {
        margin-left: 10%;
    }
}

@media screen and (max-width: 400px) {

    .shopHeader {
        left: 10%;
    }

    .bottoni {
        margin-left: 5.5%;
    }

    .bottoniInferiori {
        justify-content: unset;
        width: 356px;
    }
}

@media screen and (max-width: 375px) {

    .shopHeader {
        left: 10%;
    }

    .bottoni {
        margin-left: 2.5%;
    }
} 

@media screen and (max-width:350px) {

    .shopHeader {
        left: 6%;
    }

     .btn {
        height: 50px;
        width: 150px;
    }

     .btnIcon {
        height: 25px;
        width: 25px;
        margin-right: 15px;
    }

    .bottoni {
        width: 310px;
        margin-left: 5%;
    }

    .bottoniInferiori {
        justify-content: unset;
        width: 315px;
    }
}
