.shopCardContainer {
    width: 100%;
    height: auto;
    gap: 10px;
}

.cardImage{
    height: 450px;
}

.cardText {
    gap: 10px;
}

.nomeProdotto {
    font-size: 24px;
}

.infoAnello {
    font-size: 24px;
    font-weight: 700;
}

.prezzo {
    font-size: 36px;
}

.cardBanner {
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .cardImage{
        height: 250px;
    }
}

@media screen and (max-width: 552px) {

    .nomeProdotto {
        font-size: 16px;
    }
    
    .infoAnello {
        font-size: 16px;
        font-weight: 700;
    }
    
    .prezzo {
        font-size: 24px;
    }
}

@media screen and (max-width: 430px) {
    .cardImage {
        height: 155px;
    }
}



