#vetrinaContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.headImageVetrina {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 93.75vw;
    height: 46.666vh;
    background-position: center;
    background-size: cover;
    margin-top: 75px;
}

.headImageVetrina h1 {
    font-family: "Lora";
    font-size: 50px;
    color: #FAFAFA;
}

/* -------------style sezione shop------------- */

.linkProdotti {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.linkProdotti p {
    font-family: 'Roboto';
    font-size: 24px;
    color: #006400;
}

.pulsanti {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 100px;
}

/* -------------style sezione card------------- */

.shopProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-bottom: 35px;
}

/* -------------style sezione info------------- */

.shopInfo {
    font-family: 'Roboto';
    font-size: 24px;
    color: #006400;
}

@media screen and (max-width: 1551px) {
    .shopProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {

    .headImageVetrina {
        height: 25vh;
    }

    .shopProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .pulsanti {
        gap: 35px 50px;
    }

    .shopProduct{
        gap: 15px;
    }
  
}

@media screen and (max-width: 431px) {

    .headImageVetrina {
        height: 15vh;
    }

    .headImageVetrina h1 {
        font-size: 35px;
    }

    .shopProduct {
        grid-template-columns: repeat(1, 1fr);
    }

    .pulsanti {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }
}

@media screen and (max-width: 376px) {
    #cardContainer {
        width: 300px;
    }
    
    .pulsanti {
        gap: 15px;
    }
}