#aboutMeContainer {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.aboutMeHome{
    width: 100%;
    height: 969px;
    background-image: url("../../Images/AboutMe/AboutMeBackgroundDesktop.png");
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #654321;
}

.aboutMeHome h1 {
    width: 152px;
    height: 61px;
    font-family: "Lora";
    font-size: 48px;
    color: #006400;
    position: relative;
    left: 385px;
    top: 256px;
}

.aboutMeIcons {
    width: 435.96px;
    height: 173.99px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 68px;
    position: relative;
    left: 243px;
    top: 367px;
}

.aboutMeIcon {
    width: auto;
    height: 75px;
}

.aboutMeIcon path {
    fill: #006400;
}

.iconaSarta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
}

.iconaSarta p {
    width: 57px;
    height: 28px;
    font-family: 'Roboto';
    font-size: 24px;
    color: #006400;
}

.iconaSpecchio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
}

.specchioP p {
    font-family: 'Roboto';
    font-size: 24px;
    color: #006400;
    text-align: center;
}

.iconaArtigiana {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
}

.iconaArtigiana p {
    font-family: 'Roboto';
    font-size: 24px;
    color: #006400;
}

.bottoneFreccia {

        box-sizing: border-box;
        background-color: transparent;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        gap: 10px;
    
        position: absolute;
        width: 435px;
        height: 55px;
        left: 245px;
        top: 770px;
    
        border: 1px solid #006400;
        border-radius: 4px;

        cursor: pointer;
}

.iconaFreccia {
    width: 23.01px;
    height: 25px;
    animation: arrowAnimation 0.8s infinite;
}

.iconaFreccia path {
    fill: #006400;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(5px);
    }

    50%{
        transform: translateY(0)
    }

    100% {
        transform: translateY(-5px);
    }
}

#aboutMeDescription {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 75px;
    justify-content: center;
}

#aboutMeDescription h1 {
    font-family: "Lora";
    font-size: 48px;
    color: #006400;
    text-align: center;
}

.Paragrafo p {
    text-align: center;
    color: #006400;
    font-family: "Roboto";
    font-size: 24px;
}
@media (max-width: 1536px) {
    .aboutMeHome {
        height: 100vh;
    }

    .aboutMeHome h1 {
        left: 265px;
        top: 125px;
    }

    .aboutMeIcons {
        left: 125px;
        top: 200px;
    }

    .bottoneFreccia {
        left: 125px;
        top: 600px;
    }

    #aboutMeDescription {
        height: 650px;
    }
}

@media (max-width: 1024px) {

    #aboutMeDescription {
        height: 1206px;
    }

    .aboutMeHome {
        width: 100%;
        height: 100vh;
        background-image: url("../../Images/AboutMe/AboutMeBackgroundTablet.png");
        background-size: 755px 650px;
       background-repeat: no-repeat;
       background-position: center 125px;
    }

    .aboutMeHome h1 {
        top: 878px;
        left: 436px;
    }

    .aboutMeIcons {
        top: 925px;
        left: 295px;
    }

    .bottoneFreccia {
        width: 350px;
        top: 1225px;
        left: 337px;
    }

    .paragrafo p {
        margin: 0 75px;
    }
}

@media (max-width: 430px) {
    .aboutMeHome {
        width: 100%;
        height: 100vh;
        background-image: url("../../Images/AboutMe/AboutMeBackgroundTablet.png");
        background-size: auto 350px;
        background-repeat: no-repeat;
        background-position: center 100px;
        }

    .aboutMeHome h1 {
            top: 467px;
           left: 158px;
            font-size: 36px;
        }

     .aboutMeIcon {
        height: 50px;
     }
    
    .aboutMeIcons {
        width: 420px;
        top: 500px;
        left: 5px;
    }
    
    .bottoneFreccia {
        width: 310px;
        top: 800px;
        left: 60px;
    }

    .Paragrafo p {
        margin: 0 25px;
    }
}